<!DOCTYPE html>
 <style>
body {
  background-image: url("static/photo/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
</head>
<body>
  <center>
    <h1>Bine ati venit la Clinica Health</h1>
<img src="{{ url_for('static', filename='photo/Logo_Clinica.jpg')}}"
     width="75" 
     height="75"
 class="image"/>
  </center>
  <br>
  <br>
  <header>
  <a href="/specializari"> <button style="background-color: skyblue; color:black; font-size: 20px">Specializari</button></a>
  <a href="/echipa"> <button style="background-color: skyblue; color:black; font-size: 20px">Echipa medicala</button></a>
  <a href="/programari"><button style="background-color: skyblue; color:black; font-size: 20px">Programari</button></a>
  <a href="/rezultate_analize"><button style="background-color:skyblue; color: black; font-size: 20px">Rezultate analize</button></a>
  <a href="/tarife"><button style="background-color: skyblue; color:black; font-size: 20px">Tarife</button></a>
  <a href="/contact"><button style="background-color: skyblue; color:black; font-size: 20px">Contact</button></a>
  <a href="/rapoarte"><button style="background-color: skyblue; color:black; font-size: 20px">Rapoarte</button></a>
</header>
<body>
  <center><br><br>
    <h1>Despre noi</h1>
<br>
<h3><left>Clinica de diagnostic si tratament Health Clinic este reprezentata de renumiti medici din Cluj-Napoca, in care tratamentul eficient si redobandirea sanatatii pacientului este primordiala. Clinica nostra vine in sprijinul dumneavoastra si va ofera servicii medicale la standarde impuse de legislatia Romaniei si a Uniunii Europene in domeniu. De asemenea, serviciile sunt in perfect acord cu normele impuse de Casa Nationala de Asigurari de Sanatate.
<h3>In clinica noastra va stau la dispozitie specialisti cu pregatire continua, precum si aparatura de ultima generatie.</h3>
<h3>Este mult mai important si mai ieftin sa previi decat sa tratezi!</h3>
<h3>O persoana prevazatoare si preventiva, va trai fericita toata viata!</h3>
</left>
</body>
</html>
