<!DOCTYPE html>
 <style>
body {
  background-image: url("static/photo/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
<body>
  <center>
    <img src="{{ url_for('static', filename='photo/Logo_Clinica.jpg')}}"
     width="75" 
     height="75"
 class="image"/>
  </center>
  <br>
<header>
  <a href="/acasa"><button style="background-color: skyblue; color:black; font-size: 20px">Acasa</button></a>
  <a href="/specializari"> <button style="background-color: skyblue; color:black; font-size: 20px">Specializari</button></a>
  <a href="/echipa"> <button style="background-color: skyblue; color:black; font-size: 20px">Echipa medicala</button></a>
  <a href="/programari"><button style="background-color: skyblue; color:black; font-size: 20px">Programari</button></a>
  <a href="/rezultate_analize"><button style="background-color:skyblue; color: black; font-size: 20px">Rezultate analize</button></a>
  <a href="/tarife"><button style="background-color: skyblue; color:black; font-size: 20px">Tarife</button></a>
  <a href="/contact"><button style="background-color: skyblue; color:black; font-size: 20px">Contact</button></a>
  <a href="/rapoarte"><button style="background-color: skyblue; color:black; font-size: 20px">Rapoarte</button></a>
</header>
<body>
  <center><br><br>
    <h1>Contact</h1>
<h2>Call center: 0264/111.111</h2>
<h2>E-mail: contact@hc.hc-clinic.ro
<h2>Programari online: <a href="/programari">Programeaza-te aici</a>
<h2>Adresa: Str.I.C.Bratianu nr.20, Cluj-Napoca, jud.Cluj</h2>
<tr>
  <br>
  <table border="0" cellspacing="0" cellpadding="0" style="float:center">
  <center>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.7963100707657!2d23.592373715565515!3d46.76891127913806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c264eaef44d%3A0xa06fe53d081251d6!2sStrada%20Ion%20I.%20C.%20Br%C4%83tianu%2020%2C%20Cluj-Napoca%20400347!5e0!3m2!1sro!2sro!4v1676110538581!5m2!1sro!2sro"width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
</center>
</tr>
<br>
<br>
<br>
