<!DOCTYPE html>
 <style>
body {
  background-image: url("static/photo/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
<body>
  <center>
     <img src="{{ url_for('static', filename='photo/Logo_Clinica.jpg')}}"
     width="75" 
     height="75"
 class="image"/>
  </center>
  <br>
<header>
  <a href="/acasa"><button style="background-color: skyblue; color:black; font-size: 20px">Acasa</button></a>
  <a href="/specializari"> <button style="background-color: skyblue; color:black; font-size: 20px">Specializari</button></a>
  <a href="/echipa"> <button style="background-color: skyblue; color:black; font-size: 20px">Echipa medicala</button></a>
  <a href="/programari"><button style="background-color: skyblue; color:black; font-size: 20px">Programari</button></a>
  <a href="/rezultate_analize"><button style="background-color:skyblue; color: black; font-size: 20px">Rezultate analize</button></a>
  <a href="/tarife"><button style="background-color: skyblue; color:black; font-size: 20px">Tarife</button></a>
  <a href="/contact"><button style="background-color: skyblue; color:black; font-size: 20px">Contact</button></a>
  <a href="/rapoarte"><button style="background-color: skyblue; color:black; font-size: 20px">Rapoarte</button></a>
</header>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acasa</title>
</head>
<body>
  <br>
  <br>
  <left>
    <h1>&nbsp;&nbsp;&nbsp;Specializari</h1>
  </left>
</style>
</head>
<body>
  <style>
.row img {
   display:inline-block;
}
.row{
  text-align:left;
}
</style>

<pre class="tab">
  <left><h2>  Alergologie&Imunologie      Cardiologie             Dermatologie
</pre></h2>
<div class="row">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Alergologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Cardiologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Dermatologie.jpg')}}" width="230" height="230" hspace="15">
</div>
<br>
<pre class="tab">
  <left><h2>    Diabet&Nutritie          Endocrinologie          Gastroenterologie
</pre></h2>
<div class="row">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Dermatologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Endocrinologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Gastroenterologie.jpg')}}" width="230" height="230" hspace="15">
</div>
<br>
<pre class="tab">
  <left><h2>       Laborator                 Neurologie             Oftalmologie
</pre></h2>
<div class="row">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Laborator.jfif')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Neurologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Oftalmologie.jpg')}}" width="230" height="230" hspace="15">
</div>
<br>
<pre class="tab">
  <left><h2>       Pediatrie                 Radiologie               Urologie
</pre></h2>
<div class="row">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Neurologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Radiologie.jpg')}}" width="230" height="230" hspace="15">
<img src="{{ url_for('static', filename='photo/Poze_Specializari/Urologie.jpg')}}" width="230" height="230" hspace="15">
</div>
   </body>
   <br>
   <br>
   <br>
  </html>
